body {
	background: url("../imgs/background.jpg")
}

.container {
	background-color: #F4A460;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #FFF;
	text-align: center;
	margin: 0px;
}

.container p {
	font-size: 30px;
	color: #800000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0px;
}

#img-div {
	margin: 5px;
	background-color: #FFF5EE;
	display: flex;
	flex-direction: column;
}

#image {
	max-width: 100%;
  height: auto;
	align-self: center;
	margin-top: 20px; 
}

#img-caption {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 25px;
	margin: 20px 10px 20px 10px;
	align-self: center;
}

#tribute-info {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	background-color: #FFF5EE;
	display: flex;
	color: black;
}

#headline {
	margin-left: 10px;
  text-align: center;
}

#list {
	list-style: circle;
	text-align: justify;
	margin-right: 20px;: 
}

#footer {
	background-color: #FFF5EE;
	height: 100px;
}

#footer-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-align: center;
}